node_modules
.next
out
build

.git
.gitignore
**/.DS_Store

src/generated

Dockerfile
.dockerignore
docker-compose.yml

*.md
!README.md

**/*.test.ts
**/*.test.tsx
playwright-report
test-results
coverage
.vscode
.idea
